@import "./partials/bodyContacto";
@import "./partials/bodyGalery";
@import "./partials/bodyHome";
@import "./partials/bodyHorarios";
@import "./partials/bodyNotFound";
@import "./partials/bodyStaff";
@import "./partials/descriptionStaff";
@import "./partials/footer";
@import "./partials/topNav";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
