.boxContacto{
    background-image: url("../../../images/logoNatacha.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    margin-top: 1rem;
    &__title{
        color: violet;
        font-size: 2rem;
    }
}

.formContacto{
    display: grid;
    color: purple;
    border-color: purple;
    border-width: 0.25rem;

    &__title{
        font: bolder;
        font-size: 5rem;
    }
}