.descriptionStaff{
   margin: 1rem;
    padding: 0.5rem;

    &__imgPerf {
      border-radius: 100%;
      width: 32.5rem;
      height: 32.5rem;
    }
    
    &__textPhar{
      font-size: 2rem;
      font-family: 'Urbanist', sans-serif;
      text-align: justify;
    }
}

/*MEDIAQUERI*/

@media screen and (max-width: 320px) {
  .descriptionStaff{
    &__imgPerf {
      width: 4rem;
      height: 4rem;
    }

    &__textPhar{
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .descriptionStaff{
    &__imgPerf {
      width: 2rem;
      height: 2rem;
    }
    &__textPhar{
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 2560px) {
  .descriptionStaff{
    &__imgPerf {
      width: 60rem;
      height: 60rem;
     }
     
     &__textPhar{
       font-size: 4rem;
     }
 }
}