/*BARRA DE NAVEGACION*/
.topNav {
  background: #8a0f87;
  background: -moz-linear-gradient(90deg, rgba(138, 15, 135, 0.734629) 0%, rgba(218, 16, 210, 0.255637) 36%, #fc00ff 75%);
  background: -webkit-linear-gradient(90deg, rgba(138, 15, 135, 0.734629) 0%, rgba(218, 16, 210, 0.255637) 36%, #fc00ff 75%);
  background: linear-gradient(90deg, rgba(161, 102, 160, 0.735) 0%, rgba(218, 16, 210, 0.255637) 36%, #fc00ff 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a0f87",endColorstr="#fc00ff",GradientType=1); }
  .topNav__imgNavSize {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10%; }
  .topNav__item {
    color: white; }
    .topNav__item--activo {
      color: black;
      font-weight: bolder;
      background-color: violet; }

#colorItemTopNav {
  color: white; }

/*MEDIA QUERY*/
@media only screen and (max-width: 480px) {
  .topNav {
    flex-direction: column; }
  .topNav ul {
    flex-direction: column; } }

/* CUERPO PRINCIPAL Home*/
.bodyHome {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/fondoBodyPpal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  align-items: center; }
  .bodyHome__title {
    font-weight: bolder;
    font-size: 4rem;
    animation-name: animationTitleHome;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s; }
  .bodyHome__anuncios {
    flex-wrap: wrap;
    font-size: 3.125rem;
    color: black;
    list-style: none; }
  .bodyHome__subTitle {
    font-size: 3.125rem;
    font-weight: bold;
    color: black; }
  .bodyHome__imgLink {
    width: 4rem;
    height: 4rem;
    opacity: 0.6; }
  .bodyHome__iconsLink {
    font-size: 4rem;
    color: white; }
    .bodyHome__iconsLink:hover {
      color: violet; }
  .bodyHome__linkBodyPpal {
    color: white;
    text-decoration-line: unset;
    font-size: 2.5rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold; }
    .bodyHome__linkBodyPpal:hover {
      color: violet; }
  .bodyHome ul li {
    list-style: none; }

/*KEFRAMES*/
@keyframes animationTitleHome {
  0% {
    color: purple;
    font-weight: bold; }
  50% {
    color: violet;
    font-weight: bolder; }
  100% {
    color: purple;
    font-weight: bold; } }

/*MEDIAQUERI*/
@media screen and (max-width: 320px) {
  .bodyHome__title {
    font-size: 2rem; }
  .bodyHome__anuncios {
    font-size: 1.5rem; }
  .bodyHome__subTitle {
    font-size: 1.5rem; }
  .bodyHome__iconsLink {
    font-size: 2rem; }
  .bodyHome__linkBodyPpal {
    font-size: 1.5rem; } }

@media screen and (max-width: 768px) {
  .bodyHome__title {
    font-size: 2rem;
    padding-top: 2rem; }
  .bodyHome__anuncios {
    font-size: 2rem; }
  .bodyHome__subTitle {
    font-size: 2rem; }
  .bodyHome__iconsLink {
    font-size: 3rem; }
  .bodyHome__linkBodyPpal {
    font-size: 2rem; } }

/* SECCION STAFF */
.bodyStaff {
  background-image: url("../../images/logoNatacha.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  justify-content: center; }
  .bodyStaff__title {
    color: purple;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    -webkit-animation: imagenStaff 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: imagenStaff 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  .bodyStaff__subTitle {
    text-align: center; }

/*KEYFRAMES*/
@-webkit-keyframes imagenStaff {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*MEDIAQUERI*/
@media screen and (max-width: 320px) {
  .bodyStaff__title {
    font-size: 1rem; }
  .bodyStaff__subTitle {
    text-align: center; } }

@media screen and (max-width: 768px) {
  .bodyStaff__title {
    font-size: 2rem; }
  .bodyStaff__subTitle {
    text-align: center; } }

.descriptionStaff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem; }
  .descriptionStaff__imgPerf {
    border-radius: 100%;
    width: 32.5rem;
    height: 32.5rem;
    -webkit-animation: scale-up-center 1s ease-out 1s both;
    animation: scale-up-center 1s ease-out 1s both; }
  .descriptionStaff__textPhar {
    font-size: 1.125rem;
    font-family: 'Urbanist', sans-serif;
    text-align: justify; }

/*MEDIAQUERI*/
@media screen and (max-width: 320px) {
  .descriptionStaff {
    flex-direction: column;
    justify-content: center; }
    .descriptionStaff__imgPerf {
      width: 8rem;
      height: 8rem; } }

@media screen and (max-width: 768px) {
  .descriptionStaff {
    flex-direction: column;
    justify-content: center; }
    .descriptionStaff__imgPerf {
      width: 16rem;
      height: 16rem; } }

.footer {
  background: #8a0f87;
  background: -moz-linear-gradient(90deg, rgba(138, 15, 135, 0.734629) 0%, rgba(218, 16, 210, 0.255637) 36%, #fc00ff 75%);
  background: -webkit-linear-gradient(90deg, rgba(138, 15, 135, 0.734629) 0%, rgba(218, 16, 210, 0.255637) 36%, #fc00ff 75%);
  background: linear-gradient(90deg, rgba(161, 102, 160, 0.735) 0%, rgba(218, 16, 210, 0.255637) 36%, #fc00ff 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a0f87",endColorstr="#fc00ff",GradientType=1);
  margin-bottom: 0rem; }
  .footer__icons {
    font-size: 1.5rem;
    color: white; }

/*MEDIAQUERI*/
@media screen and (max-width: 320px) {
  .footer__icons {
    font-size: 0.5rem; } }

@media screen and (max-width: 768px) {
  .footer__icons {
    font-size: 0.75rem; } }

.boxContacto {
  background-image: url("../../../images/logoNatacha.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  margin-top: 1rem; }
  .boxContacto__title {
    color: violet;
    font-size: 2rem; }

.formContacto {
  display: grid;
  color: purple;
  border-color: purple;
  border-width: 0.25rem; }
  .formContacto__title {
    font: bolder;
    font-size: 5rem; }

.boxHorarios {
  background-image: url("../../images/logoNatacha.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  justify-content: center; }

.tableHorarios {
  border-color: purple; }
  .tableHorarios__title {
    font-size: 3.125rem;
    font-weight: bold;
    color: purple; }

.bodyGalery {
  background-image: url("../../images/logoNatacha.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: grid; }
  .bodyGalery__title {
    color: purple;
    font-size: 5rem;
    font-weight: bolder; }
  .bodyGalery img {
    width: 20rem;
    height: 15rem; }
  .bodyGalery figcaption {
    display: none; }

.bodyNotFound {
  background-color: violet;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bodyNotFound__title {
    font-size: 10rem; }
  .bodyNotFound__linkHome {
    width: 8rem;
    height: 4rem;
    background-color: purple;
    color: white;
    text-decoration: none;
    font-size: 3rem; }

.boxContactos {
  background-image: url("../../../images/logoNatacha.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  margin-top: 1rem;
  padding-top: 15rem;
  justify-content: center;
  padding-bottom: 15rem; }
  .boxContactos__title {
    color: violet;
    font-size: 2rem; }

.formContacto {
  color: purple;
  border-color: purple;
  border-width: 0.25rem; }
  .formContacto__title {
    font: bolder;
    font-size: 5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#grilla {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 4rem auto 2rem;
  height: 100vh;
  margin: 0;
  padding: 0; }

nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }
